In [ ]:
print("hello world")

hello world

In [ ]:
num= input("provide num:")
age = input("provide age:")
print(f"1.{} is {} years old.",(name,age))

SyntaxError: f-string: empty expression not allowed (<ipython-input-4-31b9bc64cbdd>, line 3)

In [ ]:
um= input("provide num:")
age = input("provide age:")
print(f"1.{num} is {age} years old.")

provide num:towhid
provide age:24
1.towhid is 24 years old.

In [ ]:
string1 = 'welcome to geeks world\'s'

#for line break use ''' sign
string2= '''geeks
for
life'''

print (string2)

geeks
for
life

In [ ]:
#access character using index

string = "life is beautiful"
print(string [-2])

u

In [ ]:
#slice
string = "life is beautiful"
print(string [0:5])
print(string[:8])
print(string[-5:])
print(string [8:-5])

life
life is
tiful
beau

In [ ]:
#date
#2nd bracket for use variable
date= "29-05-2000"
print(f"date: {date[:2]}")
print(f"month: {date[3:5]}")
print(f"year:{date[6:]}")

date: 29
month: 05
year:2000

In [ ]:
#add string
s= "introduction"
print(s)
s= s +  " to"
print(s)
s= s + " python"
print(s)

introduction
introduction to
introduction to python

In [ ]:

s= "introduction to python"
s=s[:15]
print(s)
#replace
s += s;
print(s)
s= s.replace("introduction"," welcome")
print(s)

introduction to
introduction tointroduction to
 welcome to welcome to

In [ ]:
s= "introduction to python"
s_list = s.split()
print(s_list)
s_list= s.split("o")
print(s_list)
s_p = " ".join(s_list)
print(s_p)

['introduction', 'to', 'python']
['intr', 'ducti', 'n t', ' pyth', 'n']
intr ducti n t  pyth n

In [ ]:
#list

!ls

sample_data

In [ ]:
#list
fruits=["banana", "mango","orange"]
print("full list:", fruits)
print("first fruit:", fruits[0])
print("second fruit:", fruits[1])
print("third fruit:", fruits[2])
print(f"types of fruit: {type(fruits[0])}")
#NEGATIVE INDEX

print(fruits[-1])
print(fruits[-2])
print(fruits[-3])

full list: ['banana', 'mango', 'orange']
first fruit: banana
second fruit: mango
third fruit: orange
types of fruit: <class 'str'>
orange
mango
banana

In [ ]:
fruits =  ["banana", "mango","orange"]
fruits.append("grapes")
print(fruits)
#insert
fruits.insert(1,"apple")
print(fruits)
#extend
fruits.extend(["pineapple","guava"])
print(fruits)

fruits1= ["banana", "mango","orange"]
fruits2= ["apple","guava"]
fruits1.extend(fruits2)
print("fruits 1 extend:",fruits1)

['banana', 'mango', 'orange', 'grapes']
['banana', 'apple', 'mango', 'orange', 'grapes']
['banana', 'apple', 'mango', 'orange', 'grapes', 'pineapple', 'guava']
fruits 1 extend: ['banana', 'mango', 'orange', 'apple', 'guava']

In [ ]:
x= "life is beautiful"
y= len(x)
print(y)

17

In [ ]:
#set

#set cant be accessed through index

set1 = set(["a", "b", "a","c"])
print(type(set1))
print(set1)
set1.add("d")
size = len(set1)
print(size)

print(set1)
set1.remove("a")
print(set1)
frozenSet1 = frozenset(["a", "b"])
print(frozenSet1)
#frozenset.add("d")

<class 'set'>
{'a', 'b', 'c'}
4
{'a', 'd', 'b', 'c'}
{'d', 'b', 'c'}
frozenset({'a', 'b'})

AttributeError: type object 'frozenset' has no attribute 'add'

In [ ]:
#Union
people = {"ray", "feluda", "topshe"}
detective = {"Bomkesh", "batman","feluda"}
dracula = {"Deepanshu", "Raju"}

#Union using .union method
population = people.union(detective)

print("population:: ", population)
print("people ", people)
population= people|detective
print("population:: ", population)
peopleAndVampire1 = people.intersection(detective)
print("peopleAndVampire1:: ", peopleAnddetective)
peopleAndVampire2 = people & vampires
print("peopleAndVampire2:: ", peopleAnddetective)

population::  {'batman', 'Bomkesh', 'feluda', 'topshe', 'ray'}
people  {'feluda', 'topshe', 'ray'}
population::  {'batman', 'Bomkesh', 'feluda', 'topshe', 'ray'}

NameError: name 'peopleAnddetective' is not defined

In [ ]:
my_dict = {'1': 'Geeks', '2': 'For', '3': 'Geeks'}
print(my_dict)

my_dict.clear()
print(my_dict)

{'1': 'Geeks', '2': 'For', '3': 'Geeks'}
{}

In [ ]:
t = (1, 2, 3, 4)

# Convert to list
lst = list(t)
# Modify the list
lst[1] = 5

# Convert back to tuple
t = tuple(lst)
print(t)  # Output: (1, 5, 3, 4)

(1, 5, 3, 4)

In [ ]:
height=float (input("provide height:"))
weight=float (input("provide weight:"))
BMI= weight/ (height ** 2)
print(f"your BMI is: {BMI}")

if BMI < 18.5:
    print("You are underweight.")
elif BMI >= 18.5 and BMI < 25:
    print("You are within the healthy weight range.")
elif BMI >= 25 and BMI< 30:
    print("You are overweight.")
else:
    print("You are obese.")

provide height:1.7
provide weight:66
your BMI is: 22.837370242214536
You are within the healthy weight range.

In [ ]:
#dictionary
my_dict= {"1:geeks","2:for","3:geeks"}
print(my_dict)
my_dict.clear()
print(my_dict)

{'3:geeks', '1:geeks', '2:for'}
set()

In [ ]:
abc= {"1":"geeks","2":"for","3":"geeks"}
print(abc)
abc.clear()
print(abc)

{'1': 'geeks', '2': 'for', '3': 'geeks'}
{}

In [ ]:
d1= {"name": "TAPU", "age":"23"}
print(d1.get("age"))

23

In [ ]:
people = {"name":"Raju", "age":24, "country":"bangladesh" }

#print(people.get("age"))
#print(people.get("country"))
#print(people.get("name"))

#print(people["name"])

print(list(people.keys()))
print(list(people.values()))

['name', 'age', 'country']
['Raju', 24, 'bangladesh']

In [ ]:
people = {"name":"Raju", "age":24, "country":"bangladesh" }
print(list(people.items()))
print(people.items())
print(list(people.items())[0])
print(list(people.items())[0][1])

[('name', 'Raju'), ('age', 24), ('country', 'bangladesh')]
dict_items([('name', 'Raju'), ('age', 24), ('country', 'bangladesh')])
('name', 'Raju')
Raju

In [ ]:
detective={"name": "Feluda","age":28,"country":"India"}
people = {"name":"Feluda", "age":29, "country":"India","Religion":"what" }
#detective.update(people)
#print(detective)
#print(people)
#detective.pop("name")
#print(detective)
detective.popitem()#delete last pair
print(detective)

{'name': 'Feluda', 'age': 28}

In [ ]:
person={
    "name": "Mr.xyz",
    "age": 23,
    "country": "Bangladesh",
    "favourite bands":["artcell","warfaze", "Aurthohin"],
    "visited place":set(["dhk","ctg","cox"]),
    "relatives":{
        "father":"Mr.yzx",
        "mother":"yxz"
    }
}
print(person)

print("Bands:",person["favourite bands"])
print("visited place:",person["visited place"])
print("Relatives:",person["relatives"]["father"])
print("favourite band:",person["favourite bands"][1])

{'name': 'Mr.xyz', 'age': 23, 'country': 'Bangladesh', 'favourite bands': ['artcell', 'warfaze', 'Aurthohin'], 'visited place': {'ctg', 'cox', 'dhk'}, 'relatives': {'father': 'Mr.yzx', 'mother': 'yxz'}}
Bands: ['artcell', 'warfaze', 'Aurthohin']
visited place: {'ctg', 'cox', 'dhk'}
Relatives: Mr.yzx
favourite band: warfaze

In [ ]:
person2 = {
    'name': 'Mr. AB',
    'age': 25,
    'favourite_bands': [
        'Border',
        'Bay of Bengal',
        'Nemesis'
    ],
    'visted_place': set(['Dhaka', 'Sylhet', 'Barisal', 'Dhaka']),
    'relatives': {
        'brother': 'Mr. QW',
        'uncle': 'Mr. sdf'
    }
}
members=[person1,person2]
print(members)

In [ ]:
#array
from array import array
arr = array('i', [1, 2, 3, 4, 5])
print(arr)
arr2=array('i',[a,b,1,2,3,4,5])
print(arr2)

array('i', [1, 2, 3, 4, 5])

NameError: name 'a' is not defined

In [ ]:
i = int(input("Enter a number "))
if i > 10:
  print("Greater than 10")
else:
  print("less than 10")

Enter a number 09
less than 10

In [ ]:
i=int(input("Enter a number:"))
if i%2==0:
    print("Even")

else:
    print("odd")

Enter a number:15
odd

In [ ]:
i=int(input("Enter a number:"))
if i < 1000 and i%3==0 and i%2==0 :
  print("condition met")
elif i > 1000 and i%5==0 and i%2==0:
  print("condition met")
else:
  print("condition not met")

Enter a number:10200
condition met

In [ ]:
#loop
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(10,15):
  print(i)

10
11
12
13
14

In [ ]:
name=input("Enter your name:")
for i in name:
  print(i)

Enter your name:towhidul
t
o
w
h
i
d
u
l

In [ ]:
names = []
number = int(input("Enter the number of students: "))

for i in range(number):
  name = input(f"Enter name of student {i+1}: ")
  names.append(name)

print(names)

Enter the number of students: 5
Enter name of student 1: antu
Enter name of student 2: tat
Enter name of student 3: emn
Enter name of student 4: rrr
Enter name of student 5: ttt
['antu', 'tat', 'emn', 'rrr', 'ttt']

In [ ]:
l=[]
number=int(input())
for i in range(number):

1
2
3
4
5

In [ ]:
lst=[1,2,3,4,5]
sum=0
for i in range(len(lst)):
  sum = sum + lst[i]

print(sum)

15

In [ ]:
lst = []
number = int(input("the total number:"))
for i in range(number):
  n = int(input("input the value:"))
  lst.append(n)
print(lst)

sum = 0
for i in range(len(lst)):
  sum = sum + lst[i]

print(sum)

the total number:4
input the value:10
input the value:20
input the value:30
input the value:40
[10, 20, 30, 40]
100

In [ ]:
lst= [1,2,3,8,7]
target=9
for i in range(len(lst)):
  sum=lst[i]
  for j in range(i+1,len(lst)):
    if sum+lst[j]==target:
      print(i,j)

0 3
1 4

In [ ]:
nums = [2,4,6,7,8,10,11]
target=17

for i in range(len(nums)):
  for j in range(len(nums)):
    #print(j)
    if(i!=j and nums[i]+nums[j]==target):
      print(i,j)

2 6
3 5
5 3
6 2

In [ ]:
a= int(input("first number:"))
b= int(input("second number:"))
for i in range(b+1):
  print(f"{a}*{i}={a*i}")

first number:4
second number:3
4*0=0
4*1=4
4*2=8
4*3=12

In [ ]:
a=5
b=6
for i in range(b+1):
  print(f"{i+1}| {a}*{i}={a*i}")

1| 5*0=0
2| 5*1=5
3| 5*2=10
4| 5*3=15
5| 5*4=20
6| 5*5=25
7| 5*6=30

In [ ]:
l1=[1,2,3,4,5,6,7]
leven=[]
sum_of_odd_number=0
sum_of_even_number=0
for i in range(len(l1)):
  a=l1[i]
  if l1[i]%2==0:
    sum_of_even_number+=a
  else:
    sum_of_odd_number+=a
print(sum_of_even_number)
print(sum_of_odd_number)

12
16

In [ ]:
vowels="aAeEiIoOuU"
sen="BanglAdEsh is my coUntry"
vowelsinSen=""
for i in range(len(sen)):
  if sen[i] in vowels:
    vowelsinSen+=sen[i]


    print("vowels:",sen[i])
print(vowelsinSen)

vowels: a
vowels: A
vowels: E
vowels: i
vowels: o
vowels: U
aAEioU

In [ ]:
vowels="aAeEiIoOuU"
sen=str(input())
for i in range(len(sen)):
  if sen[i] in vowels:
    print("vowels:",sen[i])

bangladesh
vowels: a
vowels: a
vowels: e

In [ ]:
l1 = [1, 4, 7, 14, 3, 2, 1]

sumOfOddNumber = 0
sumOfEvenNumber = 0

for i in range(len(l1)):
  a = l1[i]
  if l1[i] % 2 == 0:
    sumOfEvenNumber = sumOfEvenNumber + l1[i]
  else:
    sumOfOddNumber += l1[i]

print(f"Sum of Odd Number {sumOfOddNumber}")
print(f"Sum of Even Number {sumOfEvenNumber}")

Sum of Odd Number 12
Sum of Even Number 20

In [ ]:
s1= str(input("enter string:"))
Vowels="AaEeIiOoUu"
vowelinsen=""
for i in range(len(s1)):
  if s1[i] in Vowels:

    vowelinsen+=s1[i]
  if (len(vowelinsen)==3):
    break

print(vowelinsen)

enter string:BANGLADESH IS  A
AAE

In [ ]:
names = ["Rahim", "Karim", "Maria", "Tevez", "Dybala", "Martinez", "Otamendi"]

for i in names:
  print(i)

Rahim
Karim
Maria
Tevez
Dybala
Martinez
Otamendi

In [ ]:
#break
for i in range(10):
  if i==5:

  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range (10):
  if i==5 or i==7:
    continue
  print(i)

0
1
2
3
4
6
8
9

In [ ]:
#while loop
i=0
while i<10:
  print(i)
  i+=1
print("end of loop")

0
1
2
3
4
5
6
7
8
9
end of loop

In [ ]:
l1=[1,3,4,5,77,6,8,9,10]
l2=[]
l3=[]
for i in range(len(l1)):
  if l1[i]%2==0:
    l2.append(l1[i])
    print(l2)
    print(len(l2))
  else:
    l3.append(l1[i])
    print(l3)
    print(len(l3))

[1]
1
[1, 3]
2
[4]
1
[1, 3, 5]
3
[1, 3, 5, 77]
4
[4, 6]
2
[4, 6, 8]
3
[1, 3, 5, 77, 9]
5
[4, 6, 8, 10]
4

In [ ]:
l1=[1,3,4,5,77,6,8,9,10]
total_even=0
total_odd=0

for i in range(len(l1)):
  if l1[i]%2==0:
    total_even+=l1[i]

    print(len(total_even))
  else:
    total_odd+=l1[i]
    print(len(total_odd))

TypeError: object of type 'int' has no len()

In [ ]:
def my_factorial(n):
  if n==0:
    return 1
  else:
    return n*my_factorial(n-1)
print(my_factorial(5))

120

In [ ]:
n=5
fact=1
for i in range(1,n+1):
  fact*=i
print(fact)

120

In [ ]:
l1=[0,1]
n=8
for i in range(n-2):
  l1.append(l1[i]+l1[i+1])
  print(l1)
print(l1)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
l1=[0,1]
n=8
for i in range(2,8):
  l1.append(l1[i-1]+l1[i-2])
  print(l1)
print(l1)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
n=int(input("enter a number:"))
sum=0
i=1
while i<=n:
  sum+=i
  i+=1

print(sum)

enter a number:4
10

In [ ]:
n=int(input("enter a number:"))
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

enter a number:4
14

In [ ]:
n=int(input("enter a number:"))
sum=0
i=1
while i<=n*2:
   sum+=i
   i+=2
   print(i)
print(sum)

enter a number:3
3
5
7
9

In [ ]:
n=int(input("enter a number:"))
sum=0
for i in range(1,n*3+1):
  if (i+1)%3==0:
    sum+=i+1
print(sum)

enter a number:4
30

In [ ]:
sum=0
for i in range(1,6,2):
  sum+=i
print(sum)

9

In [ ]:
names=["rahim","ronaldo","messi"]
for name in names:
  print(name)

rahim
ronaldo
messi

In [ ]:
l1=[1,3,5,6,7,19,13,10]

for i in range(len(l1)-1):
  if l1[i]>l1[i+1]:
    print("the biggest number is:",l1[i])

  else:
    print("the biggest number is:",l1[i+1])

the biggest number is: 3
the biggest number is: 5
the biggest number is: 6
the biggest number is: 7
the biggest number is: 19
the biggest number is: 19
the biggest number is: 13

In [ ]:
#recursion

In [ ]:
#switch statement
number=float(input("enter a number:"))
number= number%3

match number:
  case 0 :
    print("Divisible by 3")
  case 1 :
    print("reminder is 1 when divide by 3")
  case 2 :
    print("reminder is 2 when divide by 3")
  case default:
    print("invalid")

enter a number:29.5
invalid

In [ ]:
#fibonacci

def fibonacci(n):
  list1=[0,1]
  for i in range(n-2):
     list1.append(list1[i]+list1[i+1])
     print(list1)
     return list1



n= int(input("enter a number:"))
answer=fibonacci(n)
print(answer)

enter a number:6
[0, 1, 1]
[0, 1, 1]

In [ ]:
def calculate(a, b):
    sum_ = a + b
    difference = a - b
    return sum_, difference

result = calculate(10, 5)
print(result)

(15, 5)

In [ ]:
def calculate (x,y):
  sum_=x+y
  difference=x-y
  division=x/y
  multiplication=x*y
  return sum_,difference,division,multiplication
result=calculate(10,5)
print(result)

(15, 5, 2.0, 50)

In [ ]:
def random(*args):
  print(type(args), args)
  print(args[0])
  print(args[1])

  return args[2:]

xyz = random("a", 1, 2345,["asd"])
print("xyz: ", xyz)

<class 'tuple'> ('a', 1, 2345, ['asd'])
a
1
xyz:  (2345, ['asd'])

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else :
    return n*factorial(n-1)
n=int(input("enter a number:"))#
print(factorial(n))

enter a number:5
120

In [ ]:
#
from decimal import Decimal, getcontext

getcontext().prec = 8  # Set precision to 5
y = Decimal(1) / Decimal(7)
print(y)  # Output: 0.14286

z = 1 / 7
print(z)

0.14285714
0.14285714285714285

In [ ]:
n=int(input("enter a number:"))
l1=[]
for i in range(n):
    e=int(input("enter a number:"))
    l1.append(e)
    max = l1[0]
index = 0
for i in range(len(l1)):
  if l1[i] > max:
    max = e
    index = i

print(f"Max value is {max}")

enter a number:5
enter a number:7
enter a number:4
enter a number:6
enter a number:4
enter a number:10
Max value is 10

In [ ]:
!ls

sample_data

In [ ]:
print("before try block")

try:
  print("inside try block")
  value=4
  print(val)
  print("try block ended")
except:
  print("inside except block")

before try block
inside try block
inside except block

In [ ]:
#lambda
add= lambda x,y:x+y
calculation = lambda x,y:[x+y,x-y,x*y,x/y]
print(add(2,3))
print(calculation(6,7))

5
[13, -1, 42, 0.8571428571428571]

In [ ]:
#Map

def to_square(a):
  print(f"to_square called with {a}")
  return a*a
numbers=[1,2,3,4,5]
squared_numbers= map(to_square,numbers)
print(squared_numbers)
print(list(squared_numbers))
print(set(squared_numbers))
print(tuple(squared_numbers))

<map object at 0x7dac1fec0e50>
to_square called with 1
to_square called with 2
to_square called with 3
to_square called with 4
to_square called with 5
[1, 4, 9, 16, 25]
set()
()

In [ ]:
numbers=[1,2,3,4,5]
squared_numbers=map(lambda a:a**2,numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [ ]:
list_a=[1,3,5,7]
list_b=[2,4,6,8]
result=list(map(lambda x,y:x*y,list_a,list_b))
print(list(result))

print(result)

[4, 18, 40]
[4, 18, 40]

In [ ]:
list_names=["Rahim","John","paulo","Ibrahimovic"]

result=list(map(lambda x:len(x),list_names))
print(result)

[5, 4, 5, 11]

In [ ]:
#filter

def even (a):
  if a%2==0:
    return True
  else:
    return False

numbers=[1,2,3,4,5,6,7,8,9,10]
even_numbers=filter(even,numbers)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10]
even_numbers=filter(lambda a:a%2==0,numbers)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
even_number=list(filter(lambda x:x%2==0,numbers))
print(list(even_number))

[2, 4, 6, 8]

In [ ]:
#reduce

from functools import reduce

numbers=[1,2,3,4,5]
product=reduce(lambda x,y:x*y,numbers,10)
print(product)

1200

In [ ]:

#recursion

def func(n):
  if n==0:
      return 0
  else:
      return n+func(n-1)
func(5)

15

In [ ]:
  def func(n):
    print(n)
    if n==0:
      return 0
    else :
      return n+func(n-1)
  ans= func(5)
  print(ans)

5
4
3
2
1
0
15

In [ ]:
l1= [0,1]

def func(n):
  for i in range(n-2):
    l1.append(l1[i]+l1[i+1])
    print(l1)
  return l1
func(8)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
def fibonaccci(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fibonaccci(n-2)+fibonaccci(n-1)
print(fibonaccci(5))

5

In [ ]:
def fibonaccci(n):
  if n<=1:
    return n

  else:
    return fibonaccci(n-2)+fibonaccci(n-1)
n=int(input("enter a number:"))
print(fibonaccci(n))

enter a number:5
5